@{
    ViewBag.Title = "Contact";
}
@section BodyNeededCSS
{

    <style>
    </style>
}
<!--Start Contact Body-->
<h2 style="text-align: center;">Comming Soon.......</h2>



@section BodyNeededScripts
{



    <script>



    </script>
}