@model dynamic

@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Executive Summary</h3>
<p style="text-align: justify">
    This is a proposal for acquiring official permission from
    the department to develop the „ChEBUET‟ mobile app. I
    am co-founder and team leader of “EccentricK BD”. As
    a student of this department I really wanted to do
    something for his department and I noticed the problems
    and needs mentioned before. That's why I‟m proposing
    „ChEBUET‟ app from my team “EccentricK BD” as a
    gift to my department.
</p>