USE [master]
GO
/****** Object:  Database [StudentRegistrationProcess]    Script Date: 10-Aug-16 2:26:16 AM ******/
CREATE DATABASE [StudentRegistrationProcess]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudentRegistrationProcess', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\StudentRegistrationProcess.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'StudentRegistrationProcess_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\StudentRegistrationProcess_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentRegistrationProcess].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentRegistrationProcess]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10-Aug-16 2:26:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AssignTeachers]    Script Date: 10-Aug-16 2:26:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssignTeachers](
	[CourseAssignTeacherId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[TeacherId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AssignTeachers] PRIMARY KEY CLUSTERED 
(
	[CourseAssignTeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ClassRoom]    Script Date: 10-Aug-16 2:26:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassRoom](
	[AllocateClassRoomId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentId] [int] NULL,
	[CourseId] [int] NULL,
	[RoomId] [int] NULL,
	[DaysId] [int] NULL,
	[FromId] [time](7) NULL,
	[ToId] [time](7) NULL,
 CONSTRAINT [PK_ClassRoom] PRIMARY KEY CLUSTERED 
(
	[AllocateClassRoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Courses]    Script Date: 10-Aug-16 2:26:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Credit] [decimal](18, 2) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[SemesterId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Courses] PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Days]    Script Date: 10-Aug-16 2:26:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Days](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](500) NULL,
 CONSTRAINT [PK_Days] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Department]    Script Date: 10-Aug-16 2:26:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Department](
	[deptId] [int] IDENTITY(1,1) NOT NULL,
	[deptCode] [varchar](7) NOT NULL,
	[deptName] [varchar](500) NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[deptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Designation]    Script Date: 10-Aug-16 2:26:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Designation](
	[DesignationId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](1000) NULL,
 CONSTRAINT [PK_Designation] PRIMARY KEY CLUSTERED 
(
	[DesignationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Enrolls]    Script Date: 10-Aug-16 2:26:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Enrolls](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](700) NULL,
	[Email] [varchar](1000) NULL,
	[DeptName] [varchar](500) NULL,
	[StudentId] [int] NULL,
	[CourseId] [int] NULL,
	[Date] [date] NULL,
 CONSTRAINT [PK_Enrolls] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Grades]    Script Date: 10-Aug-16 2:26:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Grades](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_Grades] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Results]    Script Date: 10-Aug-16 2:26:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Results](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NULL,
	[CourseId] [int] NULL,
	[Name] [varchar](1000) NULL,
	[Email] [varchar](500) NULL,
	[DeptName] [varchar](1000) NULL,
	[GradeId] [int] NULL,
 CONSTRAINT [PK_Results] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Room]    Script Date: 10-Aug-16 2:26:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Room](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Number] [varchar](500) NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Semester]    Script Date: 10-Aug-16 2:26:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Semester](
	[SemesterId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](500) NULL,
 CONSTRAINT [PK_Semester] PRIMARY KEY CLUSTERED 
(
	[SemesterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Students]    Script Date: 10-Aug-16 2:26:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Students](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](1000) NULL,
	[Email] [varchar](500) NULL,
	[ContactNo] [varchar](500) NULL,
	[Date] [datetime] NULL,
	[Address] [varchar](5000) NULL,
	[DepartmentCode] [varchar](50) NULL,
	[RegNo] [varchar](100) NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 10-Aug-16 2:26:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[TeacherId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](500) NOT NULL,
	[ContactNo] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[DesignationId] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[CreditToBeTaken] [decimal](18, 2) NOT NULL,
	[RemainingCredit] [decimal](18, 2) NULL,
 CONSTRAINT [PK_dbo.Teachers] PRIMARY KEY CLUSTERED 
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  View [dbo].[CourseWithSemester]    Script Date: 10-Aug-16 2:26:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [dbo].[CourseWithSemester]
AS
SELECT Courses.CourseId, Courses.Code,Courses.Name,Courses.DepartmentId,Semester.Name as Semester_Name
FROM Courses LEFT JOIN Semester on Courses.SemesterId=Semester.SemesterId






GO
/****** Object:  View [dbo].[CourseWithTeacher]    Script Date: 10-Aug-16 2:26:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[CourseWithTeacher]
AS

SELECT  AssignTeachers.CourseId,Teachers.Name,Teachers.DepartmentId
FROM AssignTeachers RIGHT JOIN Teachers on AssignTeachers.TeacherId=Teachers.TeacherId


GO
/****** Object:  View [dbo].[ViewAllCourseStatics]    Script Date: 10-Aug-16 2:26:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[ViewAllCourseStatics]
AS
SELECT  CourseWithSemester.Code,CourseWithSemester.Name,CourseWithSemester.Semester_Name,CourseWithTeacher.Name as Teacher_Name,CourseWithSemester.DepartmentId
FROM CourseWithSemester Left JOIN CourseWithTeacher on CourseWithSemester.CourseId=CourseWithTeacher.CourseId




GO
/****** Object:  View [dbo].[StudentCourseDept]    Script Date: 10-Aug-16 2:26:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View [dbo].[StudentCourseDept]
AS
Select e.Name,e.Email,e.DeptName,e.StudentId,e.CourseId,c.Name as CourseName From Enrolls e
JOIN Courses c on e.CourseId=c.CourseId 
GO
/****** Object:  View [dbo].[StudentRegNoCourse]    Script Date: 10-Aug-16 2:26:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[StudentRegNoCourse]
AS
Select e.Name,e.Email,e.DeptName,e.StudentId,e.CourseId,e.CourseName,s.RegNo From StudentCourseDept e
JOIN Students s on e.StudentId=s.StudentId 
GO
/****** Object:  View [dbo].[GradeName]    Script Date: 10-Aug-16 2:26:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[GradeName]
AS
Select r.CourseId,g.Name from Results r JOIN Grades g on r.GradeId=g.Id

GO
/****** Object:  View [dbo].[StudenCourseResult]    Script Date: 10-Aug-16 2:26:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[StudenCourseResult]
AS 
Select r.StudentId,r.CourseId,r.Name,r.Email,r.DeptName,c.Code,c.Name as CourseName from Enrolls r
 JOIN 
 Courses c on r.CourseId=c.CourseId
GO
/****** Object:  View [dbo].[ViewResult]    Script Date: 10-Aug-16 2:26:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE view [dbo].[ViewResult]
AS 
Select r.StudentId,r.CourseId,r.Code,r.CourseName, g.Name AS GradeName from StudenCourseResult r
 Left JOIN 
 GradeName g on r.CourseId=g.CourseId 


GO
/****** Object:  View [dbo].[StudentWithDepartment]    Script Date: 10-Aug-16 2:26:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View [dbo].[StudentWithDepartment]
AS
select s.StudentId,s.Name,s.Email,s.RegNo,d.DeptName,d.deptId as DepartmentId from Students s
JOIN Department d on s.DepartmentCode=d.deptCode
GO
/****** Object:  View [dbo].[ViewEnrollCourse]    Script Date: 10-Aug-16 2:26:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE View [dbo].[ViewEnrollCourse]
AS
SELECT r.StudentId,r.CourseId,c.Name as CourseName from Enrolls r JOIN Courses c on r.CourseId=c.CourseId

GO
SET IDENTITY_INSERT [dbo].[AssignTeachers] ON 

INSERT [dbo].[AssignTeachers] ([CourseAssignTeacherId], [DepartmentId], [TeacherId], [CourseId]) VALUES (25, 9, 1016, 1004)
INSERT [dbo].[AssignTeachers] ([CourseAssignTeacherId], [DepartmentId], [TeacherId], [CourseId]) VALUES (26, 9, 1016, 1005)
SET IDENTITY_INSERT [dbo].[AssignTeachers] OFF
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([CourseId], [Code], [Name], [Credit], [Description], [DepartmentId], [SemesterId]) VALUES (1004, N'CSE-101', N'C-Programing', CAST(3.50 AS Decimal(18, 2)), N'C is a general-purpose, imperative computer programming language, supporting structured programming, lexical variable scope and recursion, while a static', 9, 1)
INSERT [dbo].[Courses] ([CourseId], [Code], [Name], [Credit], [Description], [DepartmentId], [SemesterId]) VALUES (1005, N'CSE-102', N'Java Programming', CAST(4.50 AS Decimal(18, 2)), N'Java is a general-purpose computer programming language that is concurrent, class-based, object-oriented, and specifically designed to have as few', 9, 2)
INSERT [dbo].[Courses] ([CourseId], [Code], [Name], [Credit], [Description], [DepartmentId], [SemesterId]) VALUES (1006, N'CSE-103', N'Assembly language programming', CAST(5.00 AS Decimal(18, 2)), N'This approach was widely accepted in the early ''80s (the latter days of large-scale assembly language .', 9, 3)
SET IDENTITY_INSERT [dbo].[Courses] OFF
SET IDENTITY_INSERT [dbo].[Days] ON 

INSERT [dbo].[Days] ([Id], [Name]) VALUES (1, N'Friday')
INSERT [dbo].[Days] ([Id], [Name]) VALUES (2, N'Saturday')
INSERT [dbo].[Days] ([Id], [Name]) VALUES (3, N'Sunday')
SET IDENTITY_INSERT [dbo].[Days] OFF
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([deptId], [deptCode], [deptName]) VALUES (9, N'CSE', N'Computer Science & Engineering')
INSERT [dbo].[Department] ([deptId], [deptCode], [deptName]) VALUES (10, N'EEE', N'Electrical & Electronics Engineering')
INSERT [dbo].[Department] ([deptId], [deptCode], [deptName]) VALUES (12, N'CE', N'Civil Engineering')
SET IDENTITY_INSERT [dbo].[Department] OFF
SET IDENTITY_INSERT [dbo].[Designation] ON 

INSERT [dbo].[Designation] ([DesignationId], [Name]) VALUES (1, N'Dean')
INSERT [dbo].[Designation] ([DesignationId], [Name]) VALUES (2, N'Advisor')
INSERT [dbo].[Designation] ([DesignationId], [Name]) VALUES (3, N'Professor')
SET IDENTITY_INSERT [dbo].[Designation] OFF
SET IDENTITY_INSERT [dbo].[Enrolls] ON 

INSERT [dbo].[Enrolls] ([Id], [Name], [Email], [DeptName], [StudentId], [CourseId], [Date]) VALUES (26, N'Arif Khan', N'arif@gmail.com', N'Computer Science & Engineering', 9, 1004, CAST(0xF43B0B00 AS Date))
INSERT [dbo].[Enrolls] ([Id], [Name], [Email], [DeptName], [StudentId], [CourseId], [Date]) VALUES (27, N'Arif Khan', N'arif@gmail.com', N'Computer Science & Engineering', 9, 1005, CAST(0xF43B0B00 AS Date))
INSERT [dbo].[Enrolls] ([Id], [Name], [Email], [DeptName], [StudentId], [CourseId], [Date]) VALUES (28, N'Shuvo', N'shuvo@gmail.com', N'Computer Science & Engineering', 10, 1014, CAST(0xF43B0B00 AS Date))
SET IDENTITY_INSERT [dbo].[Enrolls] OFF
SET IDENTITY_INSERT [dbo].[Grades] ON 

INSERT [dbo].[Grades] ([Id], [Name]) VALUES (1, N'A+')
INSERT [dbo].[Grades] ([Id], [Name]) VALUES (2, N'A')
INSERT [dbo].[Grades] ([Id], [Name]) VALUES (3, N'A-')
SET IDENTITY_INSERT [dbo].[Grades] OFF
SET IDENTITY_INSERT [dbo].[Results] ON 

INSERT [dbo].[Results] ([Id], [StudentId], [CourseId], [Name], [Email], [DeptName], [GradeId]) VALUES (1033, 9, 1004, N'Arif Khan', N'arif@gmail.com', N'Computer Science & Engineering', 1)
SET IDENTITY_INSERT [dbo].[Results] OFF
SET IDENTITY_INSERT [dbo].[Room] ON 

INSERT [dbo].[Room] ([Id], [Number]) VALUES (1, N'R-101')
INSERT [dbo].[Room] ([Id], [Number]) VALUES (2, N'R-102')
INSERT [dbo].[Room] ([Id], [Number]) VALUES (3, N'R-103')
SET IDENTITY_INSERT [dbo].[Room] OFF
SET IDENTITY_INSERT [dbo].[Semester] ON 

INSERT [dbo].[Semester] ([SemesterId], [Name]) VALUES (1, N'1st Semester')
INSERT [dbo].[Semester] ([SemesterId], [Name]) VALUES (2, N'2nd Semester')
INSERT [dbo].[Semester] ([SemesterId], [Name]) VALUES (3, N'3nd Semester')
SET IDENTITY_INSERT [dbo].[Semester] OFF
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([StudentId], [Name], [Email], [ContactNo], [Date], [Address], [DepartmentCode], [RegNo]) VALUES (9, N'Arif Khan', N'arif@gmail.com', N'019287835', CAST(0x0000A69900000000 AS DateTime), N'Chittagong', N'CSE', N'CSE-2016-001')
INSERT [dbo].[Students] ([StudentId], [Name], [Email], [ContactNo], [Date], [Address], [DepartmentCode], [RegNo]) VALUES (10, N'Shuvo', N'shuvo@gmail.com', N'2653223', CAST(0x0000A69900000000 AS DateTime), N'Dhaka', N'CSE', N'CSE-2016-002')
SET IDENTITY_INSERT [dbo].[Students] OFF
SET IDENTITY_INSERT [dbo].[Teachers] ON 

INSERT [dbo].[Teachers] ([TeacherId], [Name], [Email], [ContactNo], [Address], [DesignationId], [DepartmentId], [CreditToBeTaken], [RemainingCredit]) VALUES (1016, N'Tanjil Huda Sany', N'tanjil@gmail.com', N'01926029928', N'Chittagong', 3, 9, CAST(40.00 AS Decimal(18, 2)), CAST(32.00 AS Decimal(18, 2)))
INSERT [dbo].[Teachers] ([TeacherId], [Name], [Email], [ContactNo], [Address], [DesignationId], [DepartmentId], [CreditToBeTaken], [RemainingCredit]) VALUES (1017, N'Shohag Hassan', N'shohag@gmail.com', N'01926029000', N'Dhaka', 1, 9, CAST(30.00 AS Decimal(18, 2)), CAST(30.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Teachers] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Department]    Script Date: 10-Aug-16 2:26:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Department] ON [dbo].[Department]
(
	[deptCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Department_1]    Script Date: 10-Aug-16 2:26:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Department_1] ON [dbo].[Department]
(
	[deptName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AssignTeachers]  WITH CHECK ADD  CONSTRAINT [FK_AssignTeachers_Courses] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
GO
ALTER TABLE [dbo].[AssignTeachers] CHECK CONSTRAINT [FK_AssignTeachers_Courses]
GO
ALTER TABLE [dbo].[AssignTeachers]  WITH CHECK ADD  CONSTRAINT [FK_AssignTeachers_Department] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department] ([deptId])
GO
ALTER TABLE [dbo].[AssignTeachers] CHECK CONSTRAINT [FK_AssignTeachers_Department]
GO
ALTER TABLE [dbo].[AssignTeachers]  WITH CHECK ADD  CONSTRAINT [FK_AssignTeachers_Teachers] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teachers] ([TeacherId])
GO
ALTER TABLE [dbo].[AssignTeachers] CHECK CONSTRAINT [FK_AssignTeachers_Teachers]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_Department] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department] ([deptId])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_Department]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_Semester] FOREIGN KEY([SemesterId])
REFERENCES [dbo].[Semester] ([SemesterId])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_Semester]
GO
ALTER TABLE [dbo].[Enrolls]  WITH CHECK ADD  CONSTRAINT [FK_Enrolls_Courses] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
GO
ALTER TABLE [dbo].[Enrolls] CHECK CONSTRAINT [FK_Enrolls_Courses]
GO
ALTER TABLE [dbo].[Enrolls]  WITH CHECK ADD  CONSTRAINT [FK_Enrolls_Students] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
GO
ALTER TABLE [dbo].[Enrolls] CHECK CONSTRAINT [FK_Enrolls_Students]
GO
ALTER TABLE [dbo].[Results]  WITH CHECK ADD  CONSTRAINT [FK_Results_Courses] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
GO
ALTER TABLE [dbo].[Results] CHECK CONSTRAINT [FK_Results_Courses]
GO
ALTER TABLE [dbo].[Results]  WITH CHECK ADD  CONSTRAINT [FK_Results_Grades] FOREIGN KEY([GradeId])
REFERENCES [dbo].[Grades] ([Id])
GO
ALTER TABLE [dbo].[Results] CHECK CONSTRAINT [FK_Results_Grades]
GO
ALTER TABLE [dbo].[Results]  WITH CHECK ADD  CONSTRAINT [FK_Results_Students] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
GO
ALTER TABLE [dbo].[Results] CHECK CONSTRAINT [FK_Results_Students]
GO
USE [master]
GO
