@model dynamic

@{
    ViewBag.Title = "Library";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<br /><br /><br /><br />
<h3 style="text-align: center">Library Content Here...</h3>
<br /><br /><br /><br /><br /><br /><br />