USE [master]
GO
/****** Object:  Database [GoContributeMeDB]    Script Date: 2/7/2017 4:34:10 AM ******/
CREATE DATABASE [GoContributeMeDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GoContributeMeDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\GoContributeMeDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GoContributeMeDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\GoContributeMeDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GoContributeMeDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GoContributeMeDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2/7/2017 4:34:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Campaigns]    Script Date: 2/7/2017 4:34:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campaigns](
	[CampaignID] [int] IDENTITY(1,1) NOT NULL,
	[Tittle] [nvarchar](max) NOT NULL,
	[RecipientNID] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[MobileNo] [nvarchar](max) NOT NULL,
	[TargetAmount] [nvarchar](max) NOT NULL,
	[CampaignClosingDate] [datetime] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[ContributionID] [int] NOT NULL,
	[RecipientName] [nvarchar](max) NOT NULL,
	[Descriptions] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Campaigns] PRIMARY KEY CLUSTERED 
(
	[CampaignID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categories]    Script Date: 2/7/2017 4:34:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ContactUs]    Script Date: 2/7/2017 4:34:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactUs](
	[ContactUsID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.ContactUs] PRIMARY KEY CLUSTERED 
(
	[ContactUsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Contributions]    Script Date: 2/7/2017 4:34:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contributions](
	[ContributionID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Contributions] PRIMARY KEY CLUSTERED 
(
	[ContributionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Subscribers]    Script Date: 2/7/2017 4:34:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscribers](
	[SubscriberID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Subscribers] PRIMARY KEY CLUSTERED 
(
	[SubscriberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/7/2017 4:34:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ViewAllDataInfoes]    Script Date: 2/7/2017 4:34:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ViewAllDataInfoes](
	[ViewAllDataInfoID] [int] IDENTITY(1,1) NOT NULL,
	[CampaignID] [int] NOT NULL,
	[Tittle] [nvarchar](max) NULL,
	[CategoriesName] [nvarchar](max) NULL,
	[ContributionsName] [nvarchar](max) NULL,
	[Descriptions] [nvarchar](max) NULL,
	[RecipientName] [nvarchar](max) NULL,
	[RecipientNID] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[MobileNo] [nvarchar](max) NULL,
	[TargetAmount] [nvarchar](max) NULL,
	[CampaignClosingDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.ViewAllDataInfoes] PRIMARY KEY CLUSTERED 
(
	[ViewAllDataInfoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  View [dbo].[ViewAllDataInfo]    Script Date: 2/7/2017 4:34:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[ViewAllDataInfo] AS
Select c.CampaignID,c.Tittle,co.Name as ContributionsName,ca.Name as CategoriesName,c.Descriptions,c.RecipientName,c.RecipientNID,c.Email,c.MobileNo,c.TargetAmount,c.CampaignClosingDate  from Campaigns as c 
join Contributions as co on c.ContributionID=co.ContributionID
join Categories as ca on c.CategoryID=ca.CategoryID



GO
SET IDENTITY_INSERT [dbo].[Campaigns] ON 

INSERT [dbo].[Campaigns] ([CampaignID], [Tittle], [RecipientNID], [Email], [MobileNo], [TargetAmount], [CampaignClosingDate], [CategoryID], [ContributionID], [RecipientName], [Descriptions]) VALUES (4, N'Shohag Help', N'122333443433433333', N'shohag@gmail.com', N'1234567', N'1200', CAST(0x0000901A00000000 AS DateTime), 2, 2, N'Shohag Hassan', N'Nothing')
INSERT [dbo].[Campaigns] ([CampaignID], [Tittle], [RecipientNID], [Email], [MobileNo], [TargetAmount], [CampaignClosingDate], [CategoryID], [ContributionID], [RecipientName], [Descriptions]) VALUES (5, N'Research Funding', N'122333443433433333', N'sda@gmail.com', N'1234567', N'12', CAST(0x0000901A00000000 AS DateTime), 3, 2, N'Shohag Hassan', N'')
INSERT [dbo].[Campaigns] ([CampaignID], [Tittle], [RecipientNID], [Email], [MobileNo], [TargetAmount], [CampaignClosingDate], [CategoryID], [ContributionID], [RecipientName], [Descriptions]) VALUES (1002, N'Shohag', N'123456', N'sdf@gmail.com', N'1234567', N'765432', CAST(0x0000901A00000000 AS DateTime), 1, 3, N'SAS', N'SAS description')
SET IDENTITY_INSERT [dbo].[Campaigns] OFF
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [Name]) VALUES (1, N'Family')
INSERT [dbo].[Categories] ([CategoryID], [Name]) VALUES (2, N'Science')
INSERT [dbo].[Categories] ([CategoryID], [Name]) VALUES (3, N'Organizations')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Contributions] ON 

INSERT [dbo].[Contributions] ([ContributionID], [Name]) VALUES (1, N'Donations')
INSERT [dbo].[Contributions] ([ContributionID], [Name]) VALUES (2, N'Contribute')
INSERT [dbo].[Contributions] ([ContributionID], [Name]) VALUES (3, N'Sharing')
SET IDENTITY_INSERT [dbo].[Contributions] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Name], [Email], [UserName], [Password]) VALUES (1, N'Shohag', N'shohaghassan14@gmail.com', N'shohaghassan14', N'shohag1994')
INSERT [dbo].[Users] ([UserID], [Name], [Email], [UserName], [Password]) VALUES (2, N'Nahid', N'nahid@gmail.com', N'nahid', N'nahid')
INSERT [dbo].[Users] ([UserID], [Name], [Email], [UserName], [Password]) VALUES (3, N'Shakil', N'shakil@gmail.com', N'shakil', N'shakil')
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Index [IX_CategoryID]    Script Date: 2/7/2017 4:34:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_CategoryID] ON [dbo].[Campaigns]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContributionID]    Script Date: 2/7/2017 4:34:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_ContributionID] ON [dbo].[Campaigns]
(
	[ContributionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Campaigns] ADD  DEFAULT ((0)) FOR [CategoryID]
GO
ALTER TABLE [dbo].[Campaigns] ADD  DEFAULT ((0)) FOR [ContributionID]
GO
ALTER TABLE [dbo].[Campaigns] ADD  DEFAULT ('') FOR [RecipientName]
GO
ALTER TABLE [dbo].[Campaigns] ADD  DEFAULT ('') FOR [Descriptions]
GO
ALTER TABLE [dbo].[Campaigns]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Campaigns_dbo.Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Campaigns] CHECK CONSTRAINT [FK_dbo.Campaigns_dbo.Categories_CategoryID]
GO
ALTER TABLE [dbo].[Campaigns]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Campaigns_dbo.Contributions_ContributionID] FOREIGN KEY([ContributionID])
REFERENCES [dbo].[Contributions] ([ContributionID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Campaigns] CHECK CONSTRAINT [FK_dbo.Campaigns_dbo.Contributions_ContributionID]
GO
USE [master]
GO
