@using MVCIntro.Models
@model IEnumerable<MVCIntro.Models.Item>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
   
    <table border="1">
        <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Price</td>
        </tr>
        </thead>
        <tbody>
            @foreach (Item item in Model) {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                </tr>
            }
        </tbody>
    </table>

</div>
</body>
</html>
