@using MVCIntro.Models
@{
    Layout = null;
    //string message = ViewBag.Message;
    //Item item = ViewBag.Item;
    List<Category> categories = ViewBag.Categories;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Save</title>
    <style>
        label.error {
            color: red;
            font-style: italic
        }
    </style>
</head>
<body>
<div>
    @if (ViewBag.Message != null)
    {
        @ViewBag.Message
    }

    <form method="POST" id="saveItemForm">
        <table>
            <tr>
                <td><label for="Name">Name</label></td>
                <td><input type="text" id="Name" name="Name"/></td>
            </tr>
            <tr>
                <td><label for="Price">Price</label></td>
                <td><input type="text" id="Price" name="Price"/></td>
            </tr>
            <tr>
                <td><label for="CategoryId">Category</label></td>
                <td>
                    <select id="CategoryId" name="CategoryId">
                        @foreach (Category category in categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Save"/></td>
            </tr>
        </table>
    </form>
</div>
<script src="~/Scripts/jquery-3.1.0.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script>
    $(document).ready(function() {
        $("#saveItemForm").validate({
            rules: {
                Name: "required",
                Price: {
                    required: true,
                    number: true
                }
            },
            messages: {
                Name: "Enter name of item",
                Price: {
                    required: "Enter price of item",
                    number: "Price should be number"
                }
            }
        });
    });
</script>
</body>
</html>
