@model dynamic

@{
    ViewBag.Title = "M A Naser Chair";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br /><br /><br />
<h3 style="text-align: center">M A Naser Chair's Details Here...</h3>
<br /><br /><br /><br /><br /><br /><br />
