@model dynamic

@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br /><br /><br />
<h3 style="text-align: center">For any query please feel free to contact,<br/><br />
Md. Ashikur Rahman Rupok<br />
Level-3 Term-1<br />
Student ID: S 201302021<br />
    Co-Founder, Eccentrick BD<br/><br/>
   <a href="mailto:silentash.buetche13@gmail.com">Send Email</a>
  <br/><br/>
    Visit Us on Facebook: <br />
    <a href="http://goo.gl/M0k8Wv" target="_blank">http://goo.gl/M0k8Wv</a><br />
    <a href="http://goo.gl/gs1uuY" target="_blank">http://goo.gl/gs1uuY</a><br />
    <a href="http://goo.gl/kwJ00o" target="_blank">http://goo.gl/kwJ00o</a><br />
       
      
        
</h3>
<br /><br /><br />