@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1 class="text-center">Introduction of your Department<br/> Here...</h1>
     <br/>
     <br/>
     <br/>
     <br/>
    <p class="text-center"><a href="https://www.facebook.com/mdshohagmiaornob" target="_blank">Learn more &raquo;</a></p>
</div>

<div class="row">
   
</div>