@model dynamic

@{
    ViewBag.Title = "Competition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br /><br /><br />
<h3 style="text-align: center">All Competition Content Here...</h3>
<br /><br /><br /><br /><br /><br /><br />
